
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
/*
*= require_self
*= require font-awesome
 */

body {
	font-family: "Proxima Nova";
	font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
}

.alert {
	background: #fefefe;
    color: #666666;
    font-weight: bold;
    font-size: small;
    padding: 12px;
    padding-left: 16px;
    border-top: solid 3px #CCCCCC;
    border-radius: 5px;
    margin-bottom: 10px;
     border-color: #b8dbf2;
    -webkit-box-shadow: 0 10px 10px -5px rgba(0,0,0,.08);
       -moz-box-shadow: 0 10px 10px -5px rgba(0,0,0,.08);
            box-shadow: 0 10px 10px -5px rgba(0,0,0,.08);
}


.button {
	border: 1px solid #9B9B9B;
	padding: .7rem 1.25rem;
	border-radius: .3rem;
	outline: none;
	background: white;
	color: #9B9B9B;
		&:hover{
			border: 1px solid #333233 !important;
			background: #fff !important;
		}
}

.navbar-default{
	background: #fff !important;
	border: none !important;
}

/*.navbar-default .navbar-nav > li > a{
	color: #9B9B9B !important;
}*/
.post-form{
	textarea{
		width: 100%;
		min-height: 150px;
	}
	#post_title{
		width:90%;
	}
	#post_link{
		width: 90%;
	}
	/*#post_description{
		width: 100%;
	}*/
	.input.string.optional.post_title{
		margin-bottom: 20px;
	}
	.input.text.optional.post_description{
		margin-top: 20px;
	}
	.input.file.optional.post_image{
		margin: 20px 0 20px;
	}
	.input.file.optional.post_image label{
		display: none;
	}
}

.edit{
	cursor: pointer;
}

.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 100px;
    display: none;
		background-image: url('/assets/arrow.png') center-center;
    background-color: #ccc;
}


@import 'home.css.scss';
@import 'posts.css.scss';
